
    <a href="/static/images/workout_maps/Run_2024-09-10_6.01km.html" target="_blank">
        <button class="run-button">Run 6.01 km on 2024-09-10</button>
    </a>
    
    <a href="/static/images/workout_maps/Run_2024-09-06_2.78km.html" target="_blank">
        <button class="run-button">Run 2.78 km on 2024-09-06</button>
    </a>
    
    <a href="/static/images/workout_maps/Run_2024-08-13_6.60km.html" target="_blank">
        <button class="run-button">Run 6.60 km on 2024-08-13</button>
    </a>
    
    <a href="/static/images/workout_maps/Run_2024-08-11_7.20km.html" target="_blank">
        <button class="run-button">Run 7.20 km on 2024-08-11</button>
    </a>
    
    <a href="/static/images/workout_maps/Run_2024-08-11_7.08km.html" target="_blank">
        <button class="run-button">Run 7.08 km on 2024-08-11</button>
    </a>
    